header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #000;
    font-style: oblique;
}

body {
    font-size: large;
    background-color: rgb(128, 60, 17);
    font-style: italic;
    color: #ffffff;
}